<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="ConnStr" value="Data Source=SERA15013\STANDARD2012;Initial Catalog=SERA_ESS;User ID=essreader;Password=ess15013" />
    <add key="ConnStrMob" value="Data Source=SERA15013\STANDARD2012;Initial Catalog=SERAMOB;User ID=;Password=mob15013" />-->
    <!--<add key="ConnStr" value="Data Source=sera15020;Initial Catalog=SERA_ESS;User ID=essreader;Password=ess15020" />-->
    <!--<add key="ConnStrMob" value="Data Source=trac94,1435;Initial Catalog=SERAMOB;User ID=userdb;Password=serasera" />-->
    <add key="wsURL1" value="http://sera18018/androidws/jsonservice.svc" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.8" executionTimeout="300" />
    <pages>
      <controls>
        <add tagPrefix="uc1" tagName="default" src="~/pagecode/pagecode_default.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_approval_cico" src="~/pagecode/pagecode_approval_cico.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_approval_absence" src="~/pagecode/pagecode_approval_absence.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_approval_menu" src="~/pagecode/approval_menu.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_approval_overtime" src="~/pagecode/pagecode_approval_overtime.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_cico" src="~/pagecode/pagecode_request_cico.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_cico_confirm" src="~/pagecode/pagecode_request_cico_confirm.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_absence" src="~/pagecode/pagecode_request_absence.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_absence_confirm" src="~/pagecode/pagecode_request_absence_confirm.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_menu" src="~/pagecode/request_menu.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_menu_wfo" src="~/pagecode/request_menu_wfo.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_menu_wfh" src="~/pagecode/request_menu_wfh.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_overtime_edit" src="~/pagecode/pagecode_overtime_edit.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_report_absence" src="~/pagecode/pagecode_report_absence.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_report_wfh" src="~/pagecode/pagecode_report_absence_wfh.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_attendance" src="~/pagecode/pagecode_request_attendance.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_attendance_confirm" src="~/pagecode/pagecode_request_attendance_confirm.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_approval_attendance" src="~/pagecode/pagecode_approval_attendance.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_cico_fg" src="~/pagecode/pagecode_cico_fg.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_cico_wfh" src="~/pagecode/pagecode_cico_wfh.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_cico_wfh" src="~/pagecode/pagecode_request_cico_wfh.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_cico_wfh_confirm" src="~/pagecode/pagecode_request_cico_wfh_confirm.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_approval_cico_wfh" src="~/pagecode/pagecode_approval_cico_wfh.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_del_cico_wfh" src="~/pagecode/pagecode_delete_record_wfh.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_claim_internet_wfh" src="~/pagecode/pagecode_request_claim_internet_wfh.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_claim_internet_wfh_confirm" src="~/pagecode/pagecode_request_claim_internet_wfh_confirm.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_approval_claim_internet_wfh" src="~/pagecode/pagecode_approval_claim_internet_wfh.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_claim_internet_edit" src="~/pagecode/pagecode_claim_internet_edit.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_report_absence_subordinate" src="~/pagecode/pagecode_report_absence_subordinate.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_report_workschedule" src="~/pagecode/pagecode_report_schedule.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_report_workschedule_edit" src="~/pagecode/pagecode_report_schedule_edit.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_family_list" src="~/pagecode/pagecode_family_list.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_family_list_edit" src="~/pagecode/pagecode_family_list_edit.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_family_list_add" src="~/pagecode/pagecode_family_list_add.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_profile_employee" src="~/pagecode/pagecode_profile_employee.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_employee_address_edit" src="~/pagecode/pagecode_employee_address_edit.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_overtime_list" src="~/pagecode/pagecode_request_overtime_list.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_overtime_add" src="~/pagecode/pagecode_request_overtime_add.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_overtime_add_confirm" src="~/pagecode/pagecode_request_overtime_add_confirm.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_medical_list" src="~/pagecode/pagecode_request_medical_list.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_medical_detail" src="~/pagecode/pagecode_request_medical_detail.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_medical_add" src="~/pagecode/pagecode_request_medical_add.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_medical_confirm" src="~/pagecode/pagecode_request_medical_confirm.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_report_absence_sub" src="~/pagecode/pagecode_report_absence_sub.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_approval_medical" src="~/pagecode/pagecode_approval_medical.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_approval_medical_detail" src="~/pagecode/pagecode_approval_medical_detail.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_claim_menu" src="~/pagecode/pagecode_claim_menu.ascx" />
        <add tagPrefix="uc1" tagName="link_menu" src="~/pagecode/link_menu.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_klaim_kacamata_list" src="~/pagecode/pagecode_request_klaim_kacamata_list.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_klaim_kacamata_detail" src="~/pagecode/pagecode_request_klaim_kacamata_detail.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_klaim_kacamata_add" src="~/pagecode/pagecode_request_klaim_kacamata_add.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_klaim_kacamata_confirm" src="~/pagecode/pagecode_request_klaim_kacamata_confirm.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_user_profile" src="~/pagecode/pagecode_user_profile1.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_approval_ovt_hr" src="~/pagecode/pagecode_approval_overtime_hr.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_overtime_edit_hr" src="~/pagecode/pagecode_overtime_edit_hr.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_cico_wfh_list" src="~/pagecode/pagecode_request_cico_wfh_list.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_cico_wfh_detail" src="~/pagecode/pagecode_request_cico_wfh_detail.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_cico_wfo_list" src="~/pagecode/pagecode_request_cico_wfo_list.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_cico_wfo_detail" src="~/pagecode/pagecode_request_cico_wfo_detail.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_absence_list" src="~/pagecode/pagecode_request_absence_list.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_absence_detail" src="~/pagecode/pagecode_request_absence_detail.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_attendance_list" src="~/pagecode/pagecode_request_attendance_list.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_request_attendance_detail" src="~/pagecode/pagecode_request_attendance_detail.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_trxresign" src="~/pagecode/pagecode_trxresign.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_trxresign2" src="~/pagecode/pagecode_trxresign2.ascx" />
        <add tagPrefix="uc1" tagName="pagecode_personnel_menu" src="~/pagecode/pagecode_personnel_menu.ascx" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <connectionStrings>
    <!--<add name="SERAMOBDEV" connectionString="Data Source=sera15013\standard2012;Initial Catalog=SERAMOB_dev;User=mobuser;Password=mob15013;" providerName="System.Data.SqlClient" />-->
    <!--<add name="SERAMOBDEV" connectionString="Data Source=sera15013\standard2012;Initial Catalog=SERAMOB;User=mobuser;Password=mob15013;" providerName="System.Data.SqlClient" /> -->
    <!--<add name="ESSConnStrDev" connectionString="Data Source=sera15013\standard2012;Initial Catalog=essdev;User ID=essreader;Password=ess15013" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <applicationSettings>
    <WebApplication1.Properties.Settings>
      <setting name="WebApplication1_ws1_Service1" serializeAs="String">
        <value>http://sera18018/androidws/jsonservice.svc/soap</value>
      </setting>
    </WebApplication1.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>